<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<form>
    <div class="custom-control custom-checkbox mb-3">
        <input type="checkbox" class="custom-control-input" id="age_sorting" name="age_sorting">
        <label class="custom-control-label" for="age_sorting">Age</label>
    </div>
    <input type="checkbox" id="desc_sorting" name="desc_sorting" disabled>
    <br>
</form>
<button id="sortingbtn" class="btn btn-primary" disabled>Sort Now</button>
<div class="form-group">
    <label for="selected_form"><h5>Filtering with Salary:</h5></label>
    <select class="form-control" id="selected_form">
    </select>
</div>
<table id="secTable" class="table table-stripped table-primary">
    <thead>
    <tr>
        <th>Id</th>
        <th>secid</th>
        <th>shortname</th>
        <th>regnumber</th>
        <th>name</th>
    </tr>
    </thead>
<tbody>
<tr th:each="secElement, rowStat: ${securities.rows.elementList}"
    th:style="${rowStat.odd} ? 'color: gray' : 'color: blue;'">
    <td th:text="${secElement.id}">1</td>
    <td th:text="${secElement.secid}">Jack</td>
    <td th:text="${secElement.shortname}">23</td>
    <td th:text="${secElement.regnumber}">AVE N</td>
    <td th:text="${secElement.name}">77587</td>
</tr>
</tbody>
</table>
</body>
</html>